# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables
.env

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Logs
logs/
*.log
pids/
*.pid
*.seed

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: Coverage reports (if you add tests later)
coverage/
*.lcov
/src/generated/prisma
/src/generated/prisma
